.imagen {
    width: 100%;
    height: 400px; /* O el tamaño que quieras */
    object-fit: contain;
    object-position: center;
    border-radius: 8px;
    background-color: #f0f0f0; /* Para rellenar el fondo si la imagen no cubre todo */
}
/*Esto recorta la imagen si tiene una proporción muy diferente, como pasa con el teclado. */

